th= sortable :title,        resource_class.human_attribute_name(:title)
th= sortable :locale,       resource_class.human_attribute_name(:locale)
th= sortable :published_at, resource_class.human_attribute_name(:published_at)