<div id="featured">
	<div id="featured-block" class="clear">
		<div class="text-block">
			<h2>404 - Page not found</h2>
			<p>Sorry, but the page you have been looking for could not be found.</p>
		</div>
	</div>
</div>

