<div id="featured">
	<div id="featured-block" class="clear">
		<div class="text-block">
			<h2>500 - Application Error</h2>
			<p>Sorry, but an error ocourred during your request.</p>
		</div>
	</div>
</div>

