<div id="featured">
	<div id="featured-block" class="clear">
		<div class="image-block">
      <a href="index.html" title=""><img src="http://a8.sphotos.ak.fbcdn.net/hphotos-ak-ash4/216958_10150206682397990_785042989_8452350_7014256_n.jpg" alt="Fabio Kreusch" width="350px" height="250px"/></a>
    </div>

		<div class="text-block">
			<h2><a href="index.html">Hello, I am a software developer</a></h2>
			<p>My name is <strong>Fabio Kreusch</strong> and I develop softwares. In this website you will be able to find more information about projects I have worked with, and some of my toughts about software development.
      </p>

			<p><a href="index.html" class="more-link">Read More</a></p>
		</div>

	</div>
</div>

