<article class="post">

	<h2><%= @article.title %></h2>

	<p class="post-info">Posted by <a href="index.html">erwin</a> | Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p>

	<%= @article.body.html_safe %>
</article>

