<%= content_box do |box| %>
  <h2>Administration</h2>
  <div class="content login">
    <div class="flash">
      <% [ :warning, :notice, :error ].each do |f| -%>
        <%= content_tag("div", "<p>#{flash[f]}</p>".html_safe, :class => "message #{f}") unless flash[f].nil? %>
      <% end %>
      <%= link_to "Sign in with Google Account", '/auth/admin' %>
    </div>
  </div>
<% end %>